.botao-opcao-hover {
    background-color: #BCC9F1;
    color: var(--botao-letra);
    padding: 12px 24px;
    border: none;
    border-radius: 1rem 0rem;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    width: max-content;
    transition: background 0.3s;
} 

.botao-opcao-hover:hover {
    background-color: var(--botao-fundo-clicado);
    color: var(--card-branco);
} 