input[type="checkbox"] {
    display: none;
}

.checkbox-cozinha-label2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    border: 1px solid var(--destaque);
    border-radius: 8px;
    background-color: var(--color-font);;
    color: var(--destaque);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;

    img{
        width: 18px; 
        height: 18px;
    }
}

 input[type="checkbox"]:checked + .checkbox-cozinha-label2 {
    background-color: var(--destaque);
    color: var(--color-font);

}

input[type="checkbox"]:checked +
.checkbox-cozinha-label2 img {
    content: url("../../../assets/check-branco.svg");
}


