.elemento-produto {
    background-color: #FAFAFA;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 26vw !important;
    font-weight: 500;
    margin-bottom: 20px;

    article {
        font-size: 16px;
        display: flex;
        width: 100%;     
        
        .conteudo-card {
            width: 65%;
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 10px;
            padding: 12px;

            span {
                display: flex;
            }   
        }

        .conteudo-imagem {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;      
        }
        
        .conteudo-botao {
            width: 12%;
            display: flex;
            flex-direction: column;

            button {
                background-color: var(--azul-escuro);
                color: var(--background-white);
                font-size: x-large;
                width: 100%;
                height: 25%;
                border: none;
                border-radius: 0rem 1rem;
            }
        }
    }
}