@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --texto-preto: #040B28;
  --hovers: #0E2361;
  --destaque: #0F14B8;
  --cor-secundaria: #83A1FF;
  --background: #FAFAFA;
  --background-white: #FBFEFF;
  --botaofundo: #BCC9F1;
  --botao-fundo-clicado: #83A1FF;
  --botao-letra: #3E43C6;

  --texto: #1E1E1E;
  --bg-dark: #1A1A1A;

  --card-branco: #FAFAFA;
  --azul-escuro: #000DDB;
  --azul-claro: #A5b4fC;
  --color-font: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  accent-color: var(--destaque);
}

body {
  display: flex;
  background-color: var(--background);
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}