.navbar {
    width: 3rem;
    height: 100vh;
    background: #ffffff;
    font-size: 0.8rem;
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    box-shadow: 5px 0px 15px rgba(7, 6, 6, 0.2);

    img {
        width: 30px;
    }

    ul {
        list-style: none;
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        li {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            text-align: left;
            white-space: nowrap;
            padding: 5px;

            span {
                display: none;
            }
        }

        li:hover {
            font-weight: 500;
            background-color: #0000001f;
            border-radius: 5px;
            filter: brightness(0) saturate(100%) invert(39%) sepia(90%) saturate(500%) hue-rotate(190deg);
        }
    }

    
    .user {
        width: 100%;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        padding: 8px;
        background-color: var(--destaque);
        color: white;
        display: flex;
        align-items: center;

        i img {
            width: 35px !important;
            margin-right: 10px;
        }
    }

    .clicked {
        border-radius: 5px;
        background-color: #0000001f;
        filter: brightness(0) saturate(100%) invert(39%) sepia(90%) saturate(500%) hue-rotate(190deg);
    }
}

.navbar:hover {
    width: 12rem;

    ul li span{
        display: inline;

    }
}

